/* VAREAVEIS */


:root {
    --branco: #F4F0ED;
    --cinza: #F4F6F4;
    --marrom-forte: #90591c;
    --marrom-fraco: #d8a149;
    --marrom-forte-transparente: #d8a14998;
    --bege: #FFF9B1;
    --azul-forte: #054a45;
    --azul-forte-transparente: #054a458d;
    --azul-fraco: #25a398;
    --scale: scale(1.05);
    --gradiente-h1: linear-gradient(to right, var(--bege), var(--marrom-fraco), var(--bege));
    --gradiente-h2: linear-gradient(to right, var(--azul-fraco), var(--azul-forte));
    --fundo-servicos: linear-gradient(to right, var(--azul-forte), var(--azul-forte), var(--azul-fraco), var(--azul-forte));
    --fonte-amug: 'Amug' !important;
    --fonte-cinzel: 'Cinzel Decorative' !important;
    --fonte-lato: 'Lato' !important;
    --fonte-mont: 'Montserrat' !important;
    --overlay: rgba(7, 7, 7, 0.36);





    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;

    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --blue: #0000ff;
    --white: #fff;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --font-family: cursive;
}


/* FONTS */


@font-face {
    font-family: 'Amug';
    src: url('fonts/AmugRegular-ywVB5.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



/* Estilo geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--azul-forte);
    height: 100vh;
    overflow-x: hidden;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}


::-webkit-scrollbar {
    width: 8px;
    opacity: 0.8;
}

::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #0a312f;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #293535;
}




button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px var(--marrom-forte-transparente);
    background-color: #00000043;
    transform: var(--scale);
}

.whatsapp-fixo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 18px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    transition: 0.5s ease;
}

.whatsapp-fixo:hover {
    transform: scale(1.1);
}

.whatsapp-fixo img {
    margin-right: 10px;
    transition: 0.5s ease;
}

.whatsapp-fixo.minimized {
    padding: 0px 18px;
}

.whatsapp-fixo.minimized img {
    margin-right: 0;
}

.whatsapp-fixo span {
    transition: 0.5s ease;
}

.whatsapp-fixo.minimized span {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    margin: 0;
    padding: 0;
}

.bg1 {
    background-image: url('assent/home_fundo.jpg');
}

.bg2 {
    background-image: url('assent/homefundo-rio.jpg')
}

.btn-principal button {
    padding: 10px 50px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lato' !important;
    background: linear-gradient(to right, #054a45f7, #25a398);
    /* background-color: var(--marrom-forte); */
    box-shadow: 0 2px 2px 1px #0000004a;
    border-radius: 10px;
    border: 1px solid var(--marrom-forte);
    cursor: pointer;
    transition: .2s;
    color: #fff;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    background: var(--gradiente-h2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 45px;
    font-family: "Cormorant Garamond", serif;
    text-align: center;
}

h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background: var(--marrom-forte);
    position: relative;
    margin: 1px 458px;
}

#scrollTopBtn {
    position: fixed;
    bottom: 88px;
    right: 33px;
    z-index: 1000;
    height: 35px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: var(--marrom-forte);
    border: none;
    border-radius: 100%;
    font-size: 36px;
    cursor: pointer;
    display: none;
    transition: .3s;

}

#scrollTopBtn i::before {
    background-color: #fff;
    border-radius: 50%;
}

button#scrollTopBtn:hover {
    box-shadow: 0 0 0 !important;
}




/* ESTILO DO CABECALHO */

header {
    padding: 15px 4%;
    height: 130px;
    z-index: 2;
    position: relative;
}

.menu-desktop {
    border-radius: 30px;
    padding: 15px;
}

header .logo img {
    max-width: 100px;
}


header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

header a {
    color: #ffffffdd;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-family: var(--fonte-lato)
}

header a:hover {
    color: var(--marrom-fraco);
    transform: var(--scale);
}

header .logo a:hover {
    transform: scale(1) !important;

}

header nav ul {
    margin-left: 400px;
    list-style-type: none;
    font-size: 17px;
}

header nav ul li {
    display: inline-block;
    padding: 0 17px;
}

/* ESTILO DO HOME */

section.home {
    height: calc(100vh);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    z-index: 0;
    transition: 0.5s ease-in-out;
}


section.home.bg2 {
    background-position: center;

}


section.home .overlayhome {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

section.home .overlayhome {
    background-color: var(--overlay)
}

section.home.bg2 .overlayhome {
    background-color: var(--overlay)
}

section.home:before {
    position: absolute;
    content: "";
    /* z-index: -1; */
    left: 0;
    top: auto;
    bottom: -40px;
    right: auto;
    z-index: 2;
    width: 100%;
    height: 70px;
    background: url(assent/bg-bdr.png);
    filter: sepia(1) saturate(50%) hue-rotate(0deg) brightness(95%) contrast(100%);
}


section.home .interface>.flex {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

section.home h1 {
    margin-top: 130px;
    font-weight: 400;
    background: var(--gradiente-h1);
    font-size: 25px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 40px;
    text-align: center;
    font-family: var(--fonte-mont);
    letter-spacing: 1px;
    -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0);
}


section.home h1 span {
    display: block;
    font-size: 90px;
    font-weight: 600;
    font-family: var(--fonte-cinzel);
    line-height: 92px;
    letter-spacing: 4px;
}

section.home p {
    width: 600px;
    /* color: var(--bege); */
    background: var(--gradiente-h1);
    padding: 10px;
    font-family: var(--fonte-mont);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 20px;
    margin-top: -8px;
    text-align: center;
    letter-spacing: 1px;
}

section.home .btn-principal {
    margin-top: 30px;
    margin-bottom: 0px;
}



/* ESTILO SOBRE */

section.sobre {
    height: calc(100vh - 40px);
    padding: 80px 4%;

    background-color: var(--branco);
}

section.sobre .flex {
    align-items: start;
    justify-content: center;
    gap: 175px;
}


section.sobre .img-sobre {
    position: relative;
}


section.sobre .img2-sobre {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.sobre .img-sobre img {
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 8px #0000008f;
}

section.sobre .img2-sobre img {
    max-width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 2px #0000003e;
}

section.sobre h2 {
    text-align: left;
    margin-top: 90px;
}

section.sobre h2::after {
    margin: 0 0 !important;
}

section.sobre .boxsobre p {
    width: 480px;
    margin-top: 25px;
    text-align: justify;

}

section.sobre .btn-sobre {
    margin-top: 40px;

}

section.sobre .btn-sobre button {
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Lato' !important;
    background-color: var(--marrom-forte);
    box-shadow: 0 2px 2px 1px #0000004a;
    border-radius: 5px;
    border: 1px solid var(--marrom-forte);
    cursor: pointer;
    transition: .2s;
    color: #fff;
}

section.sobre .btn-sobre button:hover {
    background-color: var(--azul-forte);
}


section.servicos {
    padding: 40px 4%;
    height: 220px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px #0000009c;
    background: var(--fundo-servicos);

    /* background-color: var(--marrom-forte); */
}

section.servicos .flex {
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

section.servicos .box-itens {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    padding: 30px;
    border-radius: 30px;
}

section.servicos .box-itens:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff59;
}


section.servicos .box-itens img {
    width: 80px;
    padding-bottom: 5px;
    color: #fff;
}

section.servicos .box-itens h3 {
    color: var(--branco);
}

/*  ESTILO ESTRUTURA*/


section.estrutura {
    height: 100vh;
    padding: 50px 4%;
    background-color: var(--cinza);

}


section.estrutura .flex {
    flex-direction: column;
    align-items: center;
}



section.estrutura .section-description {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    color: #555;
}

section.estrutura .estrutura-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

section.estrutura .estrutura-item {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
}

section.estrutura .estrutura-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

section.estrutura .estrutura-item img {
    max-width: 60px;
    height: auto;
    margin-bottom: 15px;
}

section.estrutura .estrutura-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--marrom-forte);
}

section.estrutura .estrutura-item p {
    font-size: 16px;
    color: #666;
    text-align: left;
}

.cta {
    text-align: center;
    margin-top: 40px;
}

.btn-solicitar-orcamento {
    display: inline-block;
    background-color: var(--marrom-forte);
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-solicitar-orcamento:hover {
    background-color: var(--azul-forte);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}


/* ESTILO GALERIA  */
section.galeria {
    height: calc(100vh + 150px);
    padding: 50px 4%;
    /* background-color: var(--azul-forte); */
    background: var(--fundo-servicos);
    box-shadow: 0 0 8px #000;
}

section.galeria .flex {
    flex-direction: column;
    align-items: center;
}

section.galeria .interface h2 {
    color: #fff !important;
    -webkit-text-fill-color: #fff;
}

section.galeria .interface h2::after {
    background-color: var(--bege);
    margin-left: 558px;
}

section.galeria .titulo-galerias h3 {
    text-align: center;
    font-size: 18px;
    color: var(--branco);
}

section.galeria .titulo-galerias {
    display: flex;
    padding: 40px 0px 10px 0px;
    justify-content: center;
    align-items: center;

}

section.galeria .titulo-galerias img {
    width: auto;
    height: 40px;
    padding-right: 5px;
}



.container-gallery {
    width: 1220px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;

}

.gallery-container {
    width: 100%;
    display: flex;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.gallery {
    display: flex;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.gallery-item {
    margin: 1%;
    box-sizing: border-box;
    position: relative;
    height: 190px;
    max-height: 190px;
    transition: 0.3s;
    border-radius: 30px;
    box-shadow: 0 0 8px #03030324;
}

section.galeria .gallery-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #0303036f;
}

.galeria .prev,
.galeria .next {
    position: relative;
    height: 45px;
    margin-top: -10px;
    color: var(--azul-forte);
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
    box-shadow: 0;
    border: 0;
}



.galeria .prev:hover,
.galeria .next:hover {
    box-shadow: 0 0 8px #0000001d;
}


.gallery-item img {
    height: 190px;
    max-width: 260px;
    width: auto;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    ;
}

/* .overlay-foto {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.197);
    opacity: 1;
    border-radius: 10px;
}  */

.gallery-item:hover .overlay-foto {
    display: none;
}


.dots {
    text-align: center;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: var(--branco);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: var(--bege);
}


/*  ESTILO MODAL*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}


body.modal-open {
    overflow: hidden !important;
}


.modal-content {
    margin: auto;
    display: block;
    height: auto;
    max-height: 550px;
    transition: transform 0.2s;
    padding-top: 50px;

}

.modal-content:hover {
    cursor: zoom-in;
}

.modal-content.zoomed:hover {
    cursor: zoom-out;
}

#caption {
    margin: 0;
    display: block;
    text-align: center;
    color: #ccc;
    padding: 30px 0;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    gap: 20px;
}

.modal-button {
    background: none;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}

.modal-button i {
    font-size: 20px;
    color: #fff;
}

.modal-header button {
    box-shadow: none !important;
}


@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}



/* ESTILO AGENDA */


section.agenda{
    height: 100vh;
    background-color: #FFf;
    padding: 40px 4%;
}

section.agenda .flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.agenda .calendar{

    width: 600px;
    max-height: 800px;
margin-top: 20px;
}

section.agenda  h2::after {
margin-left: 555px;
}


section.agenda  p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
    text-align: left;
}

section.agenda .descricao-agenda{
    display: flex;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

section.agenda .descricao-agenda .container-cor{
  width: 30px;
  height: 30px;
  background-color: #000;
  margin-left: 25px;
  border: 1px solid #000;
  border-radius: 10px;
  margin-right: 5px;
}
section.agenda .descricao-agenda p {
    text-align: center;
margin-top: 0;
  }
  

section.agenda .descricao-agenda .container-cor.branco{
background-color: #fff;
  }
  section.agenda .descricao-agenda .container-cor.azul{
    background-color: var(--azul-forte);
      }